body {
    background-color: black;
    padding: 0;
    margin: 0;
}

header img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

#menu-container{
    background-color: black;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}



nav ul {
    margin: 0;
    padding: 0;
}

.table{
    background-color: black;
}

.table td{
    color: white;
}

.table th{
    color: white;
}